<h1>Colors</h1>
<h2>Brand Colors</h2>
<table class="table">
  <thead>
  <tr>
    <th class="has-content-left">Name</th>
    <th>Lightest</th>
    <th>Lighter</th>
    <th>Light</th>
    <th>Base</th>
    <th>Dark</th>
    <th>Darker</th>
    <th>Darkest</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">Primary</th>
    <td>
      <div class="palette has-bg-primary-lightest"></div>
    </td>
    <td>
      <div class="palette has-bg-primary-lighter"></div>
    </td>
    <td>
      <div class="palette has-bg-primary-light">
        <span class="dropdown">
          <span class="dropdown-toggle" (click)="toggleOpen($event)" aria-haspopup="true" aria-expanded="false">
            #90A4AE
          </span>
          <div class="dropdown-menu">
             <dl>
               <dt>Name</dt><dd>Anchor Blue</dd>
               <dt>Sass Name</dt><dd>$color-primary-light</dd>
               <dt>Value</dt>
               <dd>
                <span #colorPrimaryLight>#90A4AE</span>
                <span class="fa fa-clipboard" aria-hidden="true" [cutClipboard]="colorPrimaryLight"></span>
              </dd>
               <dt>Uses</dt><dd>All primary branding purpose</dd>
             </dl>
          </div>
        </span>
      </div>
    </td>

    <td>
      <div class="palette has-bg-primary">
          <span class="dropdown">
            <span class="dropdown-toggle" (click)="toggleOpen($event)" aria-haspopup="true" aria-expanded="false">
              #182642
            </span>
            <div class="dropdown-menu">
               <dl>
                 <dt>Name</dt><dd>Anchor Blue</dd>
                 <dt>Sass Name</dt><dd>$color-primary</dd>
                 <dt>Value</dt>
                 <dd>
                  <span #colorPrimary>#182642</span>
                  <span class="fa fa-clipboard" aria-hidden="true" [cutClipboard]="colorPrimary"></span>
                </dd>
                 <dt>Uses</dt><dd>All primary branding purpose</dd>
               </dl>
            </div>
          </span>
      </div><!--Closure of palette-->
    </td>
    <td>
      <div class="palette has-bg-primary-dark">
        <span class="dropdown">
          <span class="dropdown-toggle" (click)="toggleOpen($event)" aria-haspopup="true" aria-expanded="false">
            #0A1C35
          </span>
          <div class="dropdown-menu">
             <dl>
               <dt>Name</dt><dd>Anchor Blue</dd>
               <dt>Sass Name</dt><dd>$color-primary-dark</dd>
               <dt>Value</dt>
               <dd>
                <span #colorPrimaryDark>#1c202a</span>
                <span class="fa fa-clipboard" aria-hidden="true" [cutClipboard]="colorPrimaryDark"></span>
              </dd>
               <dt>Uses</dt><dd>All primary branding purpose</dd>
             </dl>
          </div>
        </span>
      </div>
    </td>
    <td>
      <div class="palette has-bg-primary-darker"></div>
    </td>
    <td>
      <div class="palette has-bg-primary-darkest"></div>
    </td>
  </tr>
  <tr>
    <th scope="row">Secondary</th>
    <td>
      <div class="palette"></div>
    </td>
    <td>
      <div class="palette"></div>
    </td>
    <td>
      <div class="palette has-bg-secondary-light">
          <span class="dropdown">
            <span class="dropdown-toggle" (click)="toggleOpen($event)" aria-haspopup="true" aria-expanded="false">
              #66C3AC
            </span>
            <div class="dropdown-menu">
               <dl>
                 <dt>Name</dt><dd>---</dd>
                 <dt>Sass Name</dt><dd>$color-secondary-light</dd>
                 <dt>Value</dt><dd>
                  <span #colorSecondaryLight>#66C3AC</span>
                  <span class="fa fa-clipboard" aria-hidden="true" [cutClipboard]="colorSecondaryLight"></span>
                 </dd>

                 <dt>Uses</dt><dd>All Secondary branding purpose</dd>
               </dl>
            </div>
          </span>
      </div><!--Closure of palette-->
    </td>
    <td>
      <div class="palette has-bg-secondary">
          <span class="dropdown">
            <span class="dropdown-toggle" (click)="toggleOpen($event)" aria-haspopup="true" aria-expanded="false">
              #009B74
            </span>
            <div class="dropdown-menu">
               <dl>
                 <dt>Name</dt><dd>---</dd>
                 <dt>Sass Name</dt><dd>$color-secondary</dd>
                 <dt>Value</dt><dd>
                  <span #colorSecondary>#009B74</span>
                  <span class="fa fa-clipboard" aria-hidden="true" [cutClipboard]="colorSecondary"></span>
                 </dd>

                 <dt>Uses</dt><dd>All Secondary branding purpose</dd>
               </dl>
            </div>
          </span>
      </div><!--Closure of palette-->
    </td>
    <td>
      <div class="palette has-bg-secondary-dark">
          <span class="dropdown">
            <span class="dropdown-toggle" (click)="toggleOpen($event)" aria-haspopup="true" aria-expanded="false">
              #007457
            </span>
            <div class="dropdown-menu">
               <dl>
                 <dt>Name</dt><dd>---</dd>
                 <dt>Sass Name</dt><dd>$color-secondary-dark</dd>
                 <dt>Value</dt><dd>
                  <span #colorSecondaryDark>#007457</span>
                  <span class="fa fa-clipboard" aria-hidden="true" [cutClipboard]="colorSecondaryDark"></span>
                 </dd>

                 <dt>Uses</dt><dd>All Secondary branding purpose</dd>
               </dl>
            </div>
          </span>
      </div><!--Closure of palette-->
    </td>
    <td>
      <div class="palette"></div>
    </td>
    <td>
      <div class="palette"></div>
    </td>
  </tr>
  <tr>
    <th scope="row">Tertiary</th>
    <td>
      <div class="palette"></div>
    </td>
    <td>
      <div class="palette"></div>
    </td>
    <td>
      <div class="palette has-bg-tertiary-light">
          <span class="dropdown">
            <span class="dropdown-toggle" (click)="toggleOpen($event)" aria-haspopup="true" aria-expanded="false">
              #7EAFD5
            </span>
            <div class="dropdown-menu">
               <dl>
                 <dt>Name</dt><dd>---</dd>
                 <dt>Sass Name</dt><dd>$color-tertiary-light</dd>
                 <dt>Value</dt><dd>
                  <span #colorTertiaryLight>#7EAFD5</span>
                  <span class="fa fa-clipboard" aria-hidden="true" [cutClipboard]="colorTertiaryLight"></span>
                 </dd>

                 <dt>Uses</dt><dd>All Tertiary branding purpose</dd>
               </dl>
            </div>
          </span>
      </div><!--Closure of palette-->
    </td>
    <td>
      <div class="palette has-bg-tertiary">
          <span class="dropdown">
            <span class="dropdown-toggle" (click)="toggleOpen($event)" aria-haspopup="true" aria-expanded="false">
              #287AB9
            </span>
            <div class="dropdown-menu">
               <dl>
                 <dt>Name</dt><dd>---</dd>
                 <dt>Sass Name</dt><dd>$color-tertiary</dd>
                 <dt>Value</dt><dd>
                  <span #colorTertiary>#287AB9</span>
                  <span class="fa fa-clipboard" aria-hidden="true" [cutClipboard]="colorTertiary"></span>
                 </dd>

                 <dt>Uses</dt><dd>All Tertiary branding purpose</dd>
               </dl>
            </div>
          </span>
      </div><!--Closure of palette-->
    </td>
    <td>
      <div class="palette has-bg-tertiary-dark">
          <span class="dropdown">
            <span class="dropdown-toggle" (click)="toggleOpen($event)" aria-haspopup="true" aria-expanded="false">
              #1E5C8B
            </span>
            <div class="dropdown-menu">
               <dl>
                 <dt>Name</dt><dd>---</dd>
                 <dt>Sass Name</dt><dd>$color-tertiary-dark</dd>
                 <dt>Value</dt><dd>
                  <span #colorTertiaryDark>#1E5C8B</span>
                  <span class="fa fa-clipboard" aria-hidden="true" [cutClipboard]="colorTertiaryDark"></span>
                 </dd>
                 <dt>Uses</dt><dd>All Tertiary branding purpose</dd>
               </dl>
            </div>
          </span>
      </div><!--Closure of palette-->
    </td>
    <td>
      <div class="palette"></div>
    </td>
    <td>
      <div class="palette"></div>
    </td>
  </tr>
  </tbody>
</table>


<h2>Accent Colors</h2>
<table class="table">
  <thead>
  <tr>
    <th class="has-content-left">Name</th>
    <th>Lightest</th>
    <th>Lighter</th>
    <th>Light</th>
    <th>Base</th>
    <th>Dark</th>
    <th>Darker</th>
    <th>Darkest</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">Alpha</th>
    <td>
      <div class="palette"></div>
    </td>
    <td>
      <div class="palette has-bg-accent-alpha-lighter">
            <span class="dropdown">
              <span class="dropdown-toggle" (click)="toggleOpen($event)" aria-haspopup="true" aria-expanded="false">
                #D1C4E9
              </span>
              <div class="dropdown-menu">
                 <dl>
                   <dt>Name</dt><dd>---</dd>
                   <dt>Sass Name</dt><dd>$accent-alpha-lighter</dd>
                   <dt>Value</dt>
                   <dd>
                      <span #accentAlphaLighter>#D1C4E9</span>
                      <span class="fa fa-clipboard" aria-hidden="true" [cutClipboard]="accentAlphaLighter"></span>
                   </dd>
                   <dt>Uses</dt><dd>TBD</dd>
                 </dl>
              </div>
            </span>
      </div><!--Closure of palette-->
    </td>
    <td>
      <div class="palette has-bg-accent-alpha-light">
            <span class="dropdown">
              <span class="dropdown-toggle" (click)="toggleOpen($event)" aria-haspopup="true" aria-expanded="false">
                #B39DDB
              </span>
              <div class="dropdown-menu">
                 <dl>
                   <dt>Name</dt><dd>---</dd>
                   <dt>Sass Name</dt><dd>$accent-alpha-light</dd>
                   <dt>Value</dt>
                    <dd>
                      <span #accentAlphaLight>#B39DDB</span>
                      <span class="fa fa-clipboard" aria-hidden="true" [cutClipboard]="accentAlphaLight"></span>
                   </dd>
                   <dt>Uses</dt><dd>TBD</dd>
                 </dl>
              </div>
            </span>
      </div><!--Closure of palette-->
    </td>
    <td>
      <div class="palette has-bg-accent-alpha">
            <span class="dropdown">
              <span class="dropdown-toggle" (click)="toggleOpen($event)" aria-haspopup="true" aria-expanded="false">
                #B388FF
              </span>
              <div class="dropdown-menu">
                 <dl>
                   <dt>Name</dt><dd>---</dd>
                   <dt>Sass Name</dt><dd>$accent-alpha</dd>
                   <dt>Value</dt>
                    <dd>
                      <span #accentAlpha>#B388FF</span>
                      <span class="fa fa-clipboard" aria-hidden="true" [cutClipboard]="accentAlpha"></span>
                   </dd>
                   <dt>Uses</dt><dd>TBD</dd>
                 </dl>
              </div>
            </span>
      </div><!--Closure of palette-->
    </td>
    <td>
      <div class="palette has-bg-accent-alpha-dark">
            <span class="dropdown">
              <span class="dropdown-toggle" (click)="toggleOpen($event)" aria-haspopup="true" aria-expanded="false">
                #673AB7
              </span>
              <div class="dropdown-menu">
                 <dl>
                   <dt>Name</dt><dd>---</dd>
                   <dt>Sass Name</dt><dd>$accent-alpha-dark</dd>
                   <dt>Value</dt>
                    <dd>
                      <span #accentAlphaDark>#673AB7</span>
                      <span class="fa fa-clipboard" aria-hidden="true" [cutClipboard]="accentAlphaDark"></span>
                   </dd>
                   <dt>Uses</dt><dd>TBD</dd>
                 </dl>
              </div>
            </span>
      </div><!--Closure of palette-->
    </td>
    <td>
      <div class="palette has-bg-accent-alpha-darker">
            <span class="dropdown">
              <span class="dropdown-toggle" (click)="toggleOpen($event)" aria-haspopup="true" aria-expanded="false">
                #311B92
              </span>
              <div class="dropdown-menu">
                 <dl>
                   <dt>Name</dt><dd>---</dd>
                   <dt>Sass Name</dt><dd>$accent-alpha-darker</dd>
                   <dt>Value</dt>
                    <dd>
                      <span #accentAlphaDarker>#311B92</span>
                      <span class="fa fa-clipboard" aria-hidden="true" [cutClipboard]="accentAlphaDarker"></span>
                   </dd>
                   <dt>Uses</dt><dd>TBD</dd>
                 </dl>
              </div>
            </span>
      </div><!--Closure of palette-->
    </td>
    <td>
      <div class="palette"></div>
    </td>
  </tr>

  <tr>
    <th scope="row">Beta</th>
    <td>
      <div class="palette"></div>
    </td>
    <td>
      <div class="palette has-bg-accent-beta-lighter">
            <span class="dropdown">
              <span class="dropdown-toggle" (click)="toggleOpen($event)" aria-haspopup="true" aria-expanded="false">
                #B3E5FC
              </span>
              <div class="dropdown-menu">
                 <dl>
                   <dt>Name</dt><dd>---</dd>
                   <dt>Sass Name</dt><dd>$accent-beta-lighter</dd>
                   <dt>Value</dt>
                   <dd>
                      <span #accentBetaLighter>#B3E5FC</span>
                      <span class="fa fa-clipboard" aria-hidden="true" [cutClipboard]="accentBetaLighter"></span>
                   </dd>
                   <dt>Uses</dt><dd>TBD</dd>
                 </dl>
              </div>
            </span>
      </div><!--Closure of palette-->
    </td>
    <td>
      <div class="palette has-bg-accent-beta-light">
            <span class="dropdown">
              <span class="dropdown-toggle" (click)="toggleOpen($event)" aria-haspopup="true" aria-expanded="false">
                #4DB8E6
              </span>
              <div class="dropdown-menu">
                 <dl>
                   <dt>Name</dt><dd>---</dd>
                   <dt>Sass Name</dt><dd>$accent-beta-light</dd>
                   <dt>Value</dt>
                    <dd>
                      <span #accentBetaLight>#4DB8E6</span>
                      <span class="fa fa-clipboard" aria-hidden="true" [cutClipboard]="accentBetaLight"></span>
                   </dd>
                   <dt>Uses</dt><dd>TBD</dd>
                 </dl>
              </div>
            </span>
      </div><!--Closure of palette-->
    </td>
    <td>
      <div class="palette has-bg-accent-beta">
            <span class="dropdown">
              <span class="dropdown-toggle" (click)="toggleOpen($event)" aria-haspopup="true" aria-expanded="false">
                #09A0DB
              </span>
              <div class="dropdown-menu">
                 <dl>
                   <dt>Name</dt><dd>---</dd>
                   <dt>Sass Name</dt><dd>$accent-beta</dd>
                   <dt>Value</dt>
                    <dd>
                      <span #accentBeta>#09A0DB</span>
                      <span class="fa fa-clipboard" aria-hidden="true" [cutClipboard]="accentBeta"></span>
                   </dd>
                   <dt>Uses</dt><dd>TBD</dd>
                 </dl>
              </div>
            </span>
      </div><!--Closure of palette-->
    </td>
    <td>
      <div class="palette has-bg-accent-beta-dark">
            <span class="dropdown">
              <span class="dropdown-toggle" (click)="toggleOpen($event)" aria-haspopup="true" aria-expanded="false">
                #1280A1
              </span>
              <div class="dropdown-menu">
                 <dl>
                   <dt>Name</dt><dd>---</dd>
                   <dt>Sass Name</dt><dd>$accent-beta-dark</dd>
                   <dt>Value</dt>
                    <dd>
                      <span #accentBetaDark>#1280A1</span>
                      <span class="fa fa-clipboard" aria-hidden="true" [cutClipboard]="accentBetaDark"></span>
                   </dd>
                   <dt>Uses</dt><dd>TBD</dd>
                 </dl>
              </div>
            </span>
      </div><!--Closure of palette-->
    </td>
    <td>
      <div class="palette has-bg-accent-beta-darker">
            <span class="dropdown">
              <span class="dropdown-toggle" (click)="toggleOpen($event)" aria-haspopup="true" aria-expanded="false">
                #004765
              </span>
              <div class="dropdown-menu">
                 <dl>
                   <dt>Name</dt><dd>---</dd>
                   <dt>Sass Name</dt><dd>$accent-beta-darker</dd>
                   <dt>Value</dt>
                    <dd>
                      <span #accentBetaDarker>#004765</span>
                      <span class="fa fa-clipboard" aria-hidden="true" [cutClipboard]="accentBetaDarker"></span>
                   </dd>
                   <dt>Uses</dt><dd>TBD</dd>
                 </dl>
              </div>
            </span>
      </div><!--Closure of palette-->
    </td>
    <td>
      <div class="palette"></div>
    </td>
  </tr>

  <tr>
    <th scope="row">Gamma</th>
    <td>
      <div class="palette"></div>
    </td>
    <td>
      <div class="palette has-bg-accent-gamma-lighter">
            <span class="dropdown">
              <span class="dropdown-toggle" (click)="toggleOpen($event)" aria-haspopup="true" aria-expanded="false">
                #B2EBF2
              </span>
              <div class="dropdown-menu">
                 <dl>
                   <dt>Name</dt><dd>---</dd>
                   <dt>Sass Name</dt><dd>$accent-gamma-lighter</dd>
                   <dt>Value</dt>
                   <dd>
                      <span #accentEtaLighter>#B3E5FC</span>
                      <span class="fa fa-clipboard" aria-hidden="true" [cutClipboard]="accentEtaLighter"></span>
                   </dd>
                   <dt>Uses</dt><dd>TBD</dd>
                 </dl>
              </div>
            </span>
      </div><!--Closure of palette-->
    </td>
    <td>
      <div class="palette has-bg-accent-gamma-light">
            <span class="dropdown">
              <span class="dropdown-toggle" (click)="toggleOpen($event)" aria-haspopup="true" aria-expanded="false">
                #84D6DC
              </span>
              <div class="dropdown-menu">
                 <dl>
                   <dt>Name</dt><dd>---</dd>
                   <dt>Sass Name</dt><dd>$accent-gamma-light</dd>
                   <dt>Value</dt>
                    <dd>
                      <span #accentEtaLight>#84D6DC</span>
                      <span class="fa fa-clipboard" aria-hidden="true" [cutClipboard]="accentEtaLight"></span>
                   </dd>
                   <dt>Uses</dt><dd>TBD</dd>
                 </dl>
              </div>
            </span>
      </div><!--Closure of palette-->
    </td>
    <td>
      <div class="palette has-bg-accent-gamma">
            <span class="dropdown">
              <span class="dropdown-toggle" (click)="toggleOpen($event)" aria-haspopup="true" aria-expanded="false">
                #50C5CD
              </span>
              <div class="dropdown-menu">
                 <dl>
                   <dt>Name</dt><dd>---</dd>
                   <dt>Sass Name</dt><dd>$accent-gamma</dd>
                   <dt>Value</dt>
                    <dd>
                      <span #accentEta>#50C5CD</span>
                      <span class="fa fa-clipboard" aria-hidden="true" [cutClipboard]="accentEta"></span>
                   </dd>
                   <dt>Uses</dt><dd>TBD</dd>
                 </dl>
              </div>
            </span>
      </div><!--Closure of palette-->
    </td>
    <td>
      <div class="palette has-bg-accent-gamma-dark">
            <span class="dropdown">
              <span class="dropdown-toggle" (click)="toggleOpen($event)" aria-haspopup="true" aria-expanded="false">
                #0195A3
              </span>
              <div class="dropdown-menu">
                 <dl>
                   <dt>Name</dt><dd>---</dd>
                   <dt>Sass Name</dt><dd>$accent-gamma-dark</dd>
                   <dt>Value</dt>
                    <dd>
                      <span #accentEtaDark>#0195A3</span>
                      <span class="fa fa-clipboard" aria-hidden="true" [cutClipboard]="accentEtaDark"></span>
                   </dd>
                   <dt>Uses</dt><dd>TBD</dd>
                 </dl>
              </div>
            </span>
      </div><!--Closure of palette-->
    </td>
    <td>
      <div class="palette has-bg-accent-gamma-darker">
            <span class="dropdown">
              <span class="dropdown-toggle" (click)="toggleOpen($event)" aria-haspopup="true" aria-expanded="false">
                #006064
              </span>
              <div class="dropdown-menu">
                 <dl>
                   <dt>Name</dt><dd>---</dd>
                   <dt>Sass Name</dt><dd>$accent-gamma-darker</dd>
                   <dt>Value</dt>
                    <dd>
                      <span #accentEtaDarker>#006064</span>
                      <span class="fa fa-clipboard" aria-hidden="true" [cutClipboard]="accentEtaDarker"></span>
                   </dd>
                   <dt>Uses</dt><dd>TBD</dd>
                 </dl>
              </div>
            </span>
      </div><!--Closure of palette-->
    </td>
    <td>
      <div class="palette"></div>
    </td>
  </tr>

  <tr>
    <th scope="row">Delta</th>
    <td>
      <div class="palette"></div>
    </td>
    <td>
      <div class="palette has-bg-accent-delta-lighter">
            <span class="dropdown">
              <span class="dropdown-toggle" (click)="toggleOpen($event)" aria-haspopup="true" aria-expanded="false">
                #C5E1A5
              </span>
              <div class="dropdown-menu">
                 <dl>
                   <dt>Name</dt><dd>---</dd>
                   <dt>Sass Name</dt><dd>$accent-delta-lighter</dd>
                   <dt>Value</dt>
                   <dd>
                      <span #accentDeltaLighter>#C5E1A5</span>
                      <span class="fa fa-clipboard" aria-hidden="true" [cutClipboard]="accentDeltaLighter"></span>
                   </dd>
                   <dt>Uses</dt><dd>TBD</dd>
                 </dl>
              </div>
            </span>
      </div><!--Closure of palette-->
    </td>
    <td>
      <div class="palette has-bg-accent-delta-light">
            <span class="dropdown">
              <span class="dropdown-toggle" (click)="toggleOpen($event)" aria-haspopup="true" aria-expanded="false">
                #A9DC78
              </span>
              <div class="dropdown-menu">
                 <dl>
                   <dt>Name</dt><dd>---</dd>
                   <dt>Sass Name</dt><dd>$accent-delta-light</dd>
                   <dt>Value</dt>
                    <dd>
                      <span #accentDeltaLight>#A9DC78</span>
                      <span class="fa fa-clipboard" aria-hidden="true" [cutClipboard]="accentDeltaLight"></span>
                   </dd>
                   <dt>Uses</dt><dd>TBD</dd>
                 </dl>
              </div>
            </span>
      </div><!--Closure of palette-->
    </td>
    <td>
      <div class="palette has-bg-accent-delta">
            <span class="dropdown">
              <span class="dropdown-toggle" (click)="toggleOpen($event)" aria-haspopup="true" aria-expanded="false">
                #85CE3F
              </span>
              <div class="dropdown-menu">
                 <dl>
                   <dt>Name</dt><dd>---</dd>
                   <dt>Sass Name</dt><dd>$accent-delta</dd>
                   <dt>Value</dt>
                    <dd>
                      <span #accentDelta>#85CE3F</span>
                      <span class="fa fa-clipboard" aria-hidden="true" [cutClipboard]="accentDelta"></span>
                   </dd>
                   <dt>Uses</dt><dd>TBD</dd>
                 </dl>
              </div>
            </span>
      </div><!--Closure of palette-->
    </td>
    <td>
      <div class="palette has-bg-accent-delta-dark">
            <span class="dropdown">
              <span class="dropdown-toggle" (click)="toggleOpen($event)" aria-haspopup="true" aria-expanded="false">
                #66A52A
              </span>
              <div class="dropdown-menu">
                 <dl>
                   <dt>Name</dt><dd>---</dd>
                   <dt>Sass Name</dt><dd>$accent-delta-dark</dd>
                   <dt>Value</dt>
                    <dd>
                      <span #accentDeltaDark>#66A52A</span>
                      <span class="fa fa-clipboard" aria-hidden="true" [cutClipboard]="accentDeltaDark"></span>
                   </dd>
                   <dt>Uses</dt><dd>TBD</dd>
                 </dl>
              </div>
            </span>
      </div><!--Closure of palette-->
    </td>
    <td>
      <div class="palette has-bg-accent-delta-darker">
            <span class="dropdown">
              <span class="dropdown-toggle" (click)="toggleOpen($event)" aria-haspopup="true" aria-expanded="false">
                #1F812D
              </span>
              <div class="dropdown-menu">
                 <dl>
                   <dt>Name</dt><dd>---</dd>
                   <dt>Sass Name</dt><dd>$accent-delta-darker</dd>
                   <dt>Value</dt>
                    <dd>
                      <span #accentDeltaDarker>#1F812D</span>
                      <span class="fa fa-clipboard" aria-hidden="true" [cutClipboard]="accentDeltaDarker"></span>
                   </dd>
                   <dt>Uses</dt><dd>TBD</dd>
                 </dl>
              </div>
            </span>
      </div><!--Closure of palette-->
    </td>
    <td>
      <div class="palette"></div>
    </td>
  </tr>

  <tr>
    <th scope="row">Epsilon</th>
    <td>
      <div class="palette"></div>
    </td>
    <td>
      <div class="palette has-bg-accent-epsilon-lighter">
            <span class="dropdown">
              <span class="dropdown-toggle" (click)="toggleOpen($event)" aria-haspopup="true" aria-expanded="false">
                #FFF59D
              </span>
              <div class="dropdown-menu">
                 <dl>
                   <dt>Name</dt><dd>---</dd>
                   <dt>Sass Name</dt><dd>$accent-epsilon-lighter</dd>
                   <dt>Value</dt>
                   <dd>
                      <span #accentEpsilonLighter>#FFF59D</span>
                      <span class="fa fa-clipboard" aria-hidden="true" [cutClipboard]="accentEpsilonLighter"></span>
                   </dd>
                   <dt>Uses</dt><dd>TBD</dd>
                 </dl>
              </div>
            </span>
      </div><!--Closure of palette-->
    </td>
    <td>
      <div class="palette has-bg-accent-epsilon-light">
            <span class="dropdown">
              <span class="dropdown-toggle" (click)="toggleOpen($event)" aria-haspopup="true" aria-expanded="false">
                #FFD732
              </span>
              <div class="dropdown-menu">
                 <dl>
                   <dt>Name</dt><dd>---</dd>
                   <dt>Sass Name</dt><dd>$accent-epsilon-light</dd>
                   <dt>Value</dt>
                    <dd>
                      <span #accentEpsilonLight>#FFD732</span>
                      <span class="fa fa-clipboard" aria-hidden="true" [cutClipboard]="accentEpsilonLight"></span>
                   </dd>
                   <dt>Uses</dt><dd>TBD</dd>
                 </dl>
              </div>
            </span>
      </div><!--Closure of palette-->
    </td>
    <td>
      <div class="palette has-bg-accent-epsilon">
            <span class="dropdown">
              <span class="dropdown-toggle" (click)="toggleOpen($event)" aria-haspopup="true" aria-expanded="false">
                #FDB816
              </span>
              <div class="dropdown-menu">
                 <dl>
                   <dt>Name</dt><dd>---</dd>
                   <dt>Sass Name</dt><dd>$accent-epsilon</dd>
                   <dt>Value</dt>
                    <dd>
                      <span #accentEpsilon>#FDB816</span>
                      <span class="fa fa-clipboard" aria-hidden="true" [cutClipboard]="accentEpsilon"></span>
                   </dd>
                   <dt>Uses</dt><dd>TBD</dd>
                 </dl>
              </div>
            </span>
      </div><!--Closure of palette-->
    </td>
    <td>
      <div class="palette has-bg-accent-epsilon-dark">
            <span class="dropdown">
              <span class="dropdown-toggle" (click)="toggleOpen($event)" aria-haspopup="true" aria-expanded="false">
                #CB7C00
              </span>
              <div class="dropdown-menu">
                 <dl>
                   <dt>Name</dt><dd>---</dd>
                   <dt>Sass Name</dt><dd>$accent-epsilon-dark</dd>
                   <dt>Value</dt>
                    <dd>
                      <span #accentEpsilonDark>#CB7C00</span>
                      <span class="fa fa-clipboard" aria-hidden="true" [cutClipboard]="accentEpsilonDark"></span>
                   </dd>
                   <dt>Uses</dt><dd>TBD</dd>
                 </dl>
              </div>
            </span>
      </div><!--Closure of palette-->
    </td>
    <td>
      <div class="palette has-bg-accent-epsilon-darker">
            <span class="dropdown">
              <span class="dropdown-toggle" (click)="toggleOpen($event)" aria-haspopup="true" aria-expanded="false">
                #A06200
              </span>
              <div class="dropdown-menu">
                 <dl>
                   <dt>Name</dt><dd>---</dd>
                   <dt>Sass Name</dt><dd>$accent-epsilon-darker</dd>
                   <dt>Value</dt>
                    <dd>
                      <span #accentEpsilonDarker>#A06200</span>
                      <span class="fa fa-clipboard" aria-hidden="true" [cutClipboard]="accentEpsilonDarker"></span>
                   </dd>
                   <dt>Uses</dt><dd>TBD</dd>
                 </dl>
              </div>
            </span>
      </div><!--Closure of palette-->
    </td>
    <td>
      <div class="palette"></div>
    </td>
  </tr>

  <tr>
    <th scope="row">Zeta</th>
    <td>
      <div class="palette"></div>
    </td>
    <td>
      <div class="palette has-bg-accent-zeta-lighter">
            <span class="dropdown">
              <span class="dropdown-toggle" (click)="toggleOpen($event)" aria-haspopup="true" aria-expanded="false">
                #FFCC80
              </span>
              <div class="dropdown-menu">
                 <dl>
                   <dt>Name</dt><dd>---</dd>
                   <dt>Sass Name</dt><dd>$accent-zeta-lighter</dd>
                   <dt>Value</dt>
                   <dd>
                      <span #accentZetaLighter>#FFCC80</span>
                      <span class="fa fa-clipboard" aria-hidden="true" [cutClipboard]="accentZetaLighter"></span>
                   </dd>
                   <dt>Uses</dt><dd>TBD</dd>
                 </dl>
              </div>
            </span>
      </div><!--Closure of palette-->
    </td>
    <td>
      <div class="palette has-bg-accent-zeta-light">
            <span class="dropdown">
              <span class="dropdown-toggle" (click)="toggleOpen($event)" aria-haspopup="true" aria-expanded="false">
                #FF9C4C
              </span>
              <div class="dropdown-menu">
                 <dl>
                   <dt>Name</dt><dd>---</dd>
                   <dt>Sass Name</dt><dd>$accent-zeta-light</dd>
                   <dt>Value</dt>
                    <dd>
                      <span #accentZetaLight>#FF9C4C</span>
                      <span class="fa fa-clipboard" aria-hidden="true" [cutClipboard]="accentZetaLight"></span>
                   </dd>
                   <dt>Uses</dt><dd>TBD</dd>
                 </dl>
              </div>
            </span>
      </div><!--Closure of palette-->
    </td>
    <td>
      <div class="palette has-bg-accent-zeta">
            <span class="dropdown">
              <span class="dropdown-toggle" (click)="toggleOpen($event)" aria-haspopup="true" aria-expanded="false">
                #FF7200
              </span>
              <div class="dropdown-menu">
                 <dl>
                   <dt>Name</dt><dd>---</dd>
                   <dt>Sass Name</dt><dd>$accent-zeta</dd>
                   <dt>Value</dt>
                    <dd>
                      <span #accentZeta>#FF7200</span>
                      <span class="fa fa-clipboard" aria-hidden="true" [cutClipboard]="accentZeta"></span>
                   </dd>
                   <dt>Uses</dt><dd>TBD</dd>
                 </dl>
              </div>
            </span>
      </div><!--Closure of palette-->
    </td>
    <td>
      <div class="palette has-bg-accent-zeta-dark">
            <span class="dropdown">
              <span class="dropdown-toggle" (click)="toggleOpen($event)" aria-haspopup="true" aria-expanded="false">
                #D04900
              </span>
              <div class="dropdown-menu">
                 <dl>
                   <dt>Name</dt><dd>---</dd>
                   <dt>Sass Name</dt><dd>$accent-zeta-dark</dd>
                   <dt>Value</dt>
                    <dd>
                      <span #accentZetaDark>#D04900</span>
                      <span class="fa fa-clipboard" aria-hidden="true" [cutClipboard]="accentZetaDark"></span>
                   </dd>
                   <dt>Uses</dt><dd>TBD</dd>
                 </dl>
              </div>
            </span>
      </div><!--Closure of palette-->
    </td>
    <td>
      <div class="palette has-bg-accent-zeta-darker">
            <span class="dropdown">
              <span class="dropdown-toggle" (click)="toggleOpen($event)" aria-haspopup="true" aria-expanded="false">
                #A04002
              </span>
              <div class="dropdown-menu">
                 <dl>
                   <dt>Name</dt><dd>---</dd>
                   <dt>Sass Name</dt><dd>$accent-zeta-darker</dd>
                   <dt>Value</dt>
                    <dd>
                      <span #accentZetaDarker>#A04002</span>
                      <span class="fa fa-clipboard" aria-hidden="true" [cutClipboard]="accentZetaDarker"></span>
                   </dd>
                   <dt>Uses</dt><dd>TBD</dd>
                 </dl>
              </div>
            </span>
      </div><!--Closure of palette-->
    </td>
    <td>
      <div class="palette"></div>
    </td>
  </tr>

  <tr>
    <th scope="row">Eta</th>
    <td>
      <div class="palette"></div>
    </td>
    <td>
      <div class="palette has-bg-accent-eta-lighter">
            <span class="dropdown">
              <span class="dropdown-toggle" (click)="toggleOpen($event)" aria-haspopup="true" aria-expanded="false">
                #FFCDD2
              </span>
              <div class="dropdown-menu">
                 <dl>
                   <dt>Name</dt><dd>---</dd>
                   <dt>Sass Name</dt><dd>$accent-eta-lighter</dd>
                   <dt>Value</dt>
                   <dd>
                      <span #accentZetaLighter>#FFCDD2</span>
                      <span class="fa fa-clipboard" aria-hidden="true" [cutClipboard]="accentZetaLighter"></span>
                   </dd>
                   <dt>Uses</dt><dd>TBD</dd>
                 </dl>
              </div>
            </span>
      </div><!--Closure of palette-->
    </td>
    <td>
      <div class="palette has-bg-accent-eta-light">
            <span class="dropdown">
              <span class="dropdown-toggle" (click)="toggleOpen($event)" aria-haspopup="true" aria-expanded="false">
                #EF9A9A
              </span>
              <div class="dropdown-menu">
                 <dl>
                   <dt>Name</dt><dd>---</dd>
                   <dt>Sass Name</dt><dd>$accent-eta-light</dd>
                   <dt>Value</dt>
                    <dd>
                      <span #accentZetaLight>#EF9A9A</span>
                      <span class="fa fa-clipboard" aria-hidden="true" [cutClipboard]="accentZetaLight"></span>
                   </dd>
                   <dt>Uses</dt><dd>TBD</dd>
                 </dl>
              </div>
            </span>
      </div><!--Closure of palette-->
    </td>
    <td>
      <div class="palette has-bg-accent-eta">
            <span class="dropdown">
              <span class="dropdown-toggle" (click)="toggleOpen($event)" aria-haspopup="true" aria-expanded="false">
                #F16865
              </span>
              <div class="dropdown-menu">
                 <dl>
                   <dt>Name</dt><dd>---</dd>
                   <dt>Sass Name</dt><dd>$accent-eta</dd>
                   <dt>Value</dt>
                    <dd>
                      <span #accentZeta>#F16865</span>
                      <span class="fa fa-clipboard" aria-hidden="true" [cutClipboard]="accentZeta"></span>
                   </dd>
                   <dt>Uses</dt><dd>TBD</dd>
                 </dl>
              </div>
            </span>
      </div><!--Closure of palette-->
    </td>
    <td>
      <div class="palette has-bg-accent-eta-dark">
            <span class="dropdown">
              <span class="dropdown-toggle" (click)="toggleOpen($event)" aria-haspopup="true" aria-expanded="false">
                #D32F2F
              </span>
              <div class="dropdown-menu">
                 <dl>
                   <dt>Name</dt><dd>---</dd>
                   <dt>Sass Name</dt><dd>$accent-eta-dark</dd>
                   <dt>Value</dt>
                    <dd>
                      <span #accentZetaDark>#D32F2F</span>
                      <span class="fa fa-clipboard" aria-hidden="true" [cutClipboard]="accentZetaDark"></span>
                   </dd>
                   <dt>Uses</dt><dd>TBD</dd>
                 </dl>
              </div>
            </span>
      </div><!--Closure of palette-->
    </td>
    <td>
      <div class="palette has-bg-accent-eta-darker">
            <span class="dropdown">
              <span class="dropdown-toggle" (click)="toggleOpen($event)" aria-haspopup="true" aria-expanded="false">
                #A41C18
              </span>
              <div class="dropdown-menu">
                 <dl>
                   <dt>Name</dt><dd>---</dd>
                   <dt>Sass Name</dt><dd>$accent-eta-darker</dd>
                   <dt>Value</dt>
                    <dd>
                      <span #accentZetaDarker>#A41C18</span>
                      <span class="fa fa-clipboard" aria-hidden="true" [cutClipboard]="accentZetaDarker"></span>
                   </dd>
                   <dt>Uses</dt><dd>TBD</dd>
                 </dl>
              </div>
            </span>
      </div><!--Closure of palette-->
    </td>
    <td>
      <div class="palette"></div>
    </td>
  </tr>
  </tbody>
</table>

<h2>Gray</h2>
<table class="table">
  <thead>
  <tr>
    <th class="has-content-left">Name</th>
    <th>Lightest</th>
    <th>Lighter</th>
    <th>Light</th>
    <th>Base</th>
    <th>Dark</th>
    <th>Darker</th>
    <th>Darkest</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">Gray</th>
    <td>
      <div class="palette has-bg-gray-lightest">
          <span class="dropdown">
            <span class="dropdown-toggle" (click)="toggleOpen($event)" aria-haspopup="true" aria-expanded="false">
              #F1F1F1
            </span>
            <div class="dropdown-menu">
              <dl>
                 <dt>Name</dt><dd>Gray Lightest</dd>
                 <dt>Sass Name</dt><dd>$gray-lightest</dd>
                 <dt>Value</dt>
                 <dd>
                    <span #grayLightest>#F1F1F1</span>
                    <span class="fa fa-clipboard" aria-hidden="true" [cutClipboard]="grayLightest"></span>
                 </dd>
                 <dt>Uses</dt><dd>TBD</dd>
               </dl>
            </div>
          </span>
      </div><!--Closure of palette-->
    </td>
    <td>
      <div class="palette has-bg-gray-lighter">
          <span class="dropdown">
            <span class="dropdown-toggle" (click)="toggleOpen($event)" aria-haspopup="true" aria-expanded="false">
              #E4E4E4
            </span>
            <div class="dropdown-menu">
              <dl>
                 <dt>Name</dt><dd>Gray Lighter</dd>
                 <dt>Sass Name</dt><dd>$gray-lighter</dd>
                 <dt>Value</dt>
                 <dd>
                    <span #grayLighter>#E4E4E4</span>
                    <span class="fa fa-clipboard" aria-hidden="true" [cutClipboard]="grayLighter"></span>
                 </dd>
                 <dt>Uses</dt><dd>TBD</dd>
               </dl>
            </div>
          </span>
      </div><!--Closure of palette-->
    </td>
    <td>
      <div class="palette has-bg-gray-light">
          <span class="dropdown">
            <span class="dropdown-toggle" (click)="toggleOpen($event)" aria-haspopup="true" aria-expanded="false">
              #D2D2D2
            </span>
            <div class="dropdown-menu">
              <dl>
                 <dt>Name</dt><dd>Gray Light</dd>
                 <dt>Sass Name</dt><dd>$gray-light</dd>
                 <dt>Value</dt>
                 <dd>
                    <span #grayLight>#D2D2D2</span>
                    <span class="fa fa-clipboard" aria-hidden="true" [cutClipboard]="grayLight"></span>
                 </dd>
                 <dt>Uses</dt><dd>TBD</dd>
               </dl>
            </div>
          </span>
      </div><!--Closure of palette-->
    </td>
    <td>
      <div class="palette has-bg-gray">
          <span class="dropdown">
            <span class="dropdown-toggle" (click)="toggleOpen($event)" aria-haspopup="true" aria-expanded="false">
              #D8D8D8
            </span>
            <div class="dropdown-menu">
              <dl>
                 <dt>Name</dt><dd>Gray</dd>
                 <dt>Sass Name</dt><dd>$gray</dd>
                 <dt>Value</dt>
                 <dd>
                    <span #gray>#D8D8D8</span>
                    <span class="fa fa-clipboard" aria-hidden="true" [cutClipboard]="gray"></span>
                 </dd>
                 <dt>Uses</dt><dd>TBD</dd>
               </dl>
            </div>
          </span>
      </div><!--Closure of palette-->
    </td>
    <td>
      <div class="palette has-bg-gray-dark">
          <span class="dropdown">
            <span class="dropdown-toggle" (click)="toggleOpen($event)" aria-haspopup="true" aria-expanded="false">
              #AAAAAA
            </span>
            <div class="dropdown-menu">
              <dl>
                 <dt>Name</dt><dd>Gray Dark</dd>
                 <dt>Sass Name</dt><dd>$gray-dark</dd>
                 <dt>Value</dt>
                 <dd>
                    <span #grayDark>#AAAAAA</span>
                    <span class="fa fa-clipboard" aria-hidden="true" [cutClipboard]="grayDark"></span>
                 </dd>
                 <dt>Uses</dt><dd>TBD</dd>
               </dl>
            </div>
          </span>
      </div><!--Closure of palette-->
    </td>
    <td>
      <div class="palette has-bg-gray-darker">
          <span class="dropdown">
            <span class="dropdown-toggle" (click)="toggleOpen($event)" aria-haspopup="true" aria-expanded="false">
              #767676
            </span>
            <div class="dropdown-menu">
              <dl>
                 <dt>Name</dt><dd>Gray Darker</dd>
                 <dt>Sass Name</dt><dd>$gray-darker</dd>
                 <dt>Value</dt>
                 <dd>
                    <span #grayDarker>#767676</span>
                    <span class="fa fa-clipboard" aria-hidden="true" [cutClipboard]="grayDarker"></span>
                 </dd>
                 <dt>Uses</dt><dd>TBD</dd>
               </dl>
            </div>
          </span>
      </div><!--Closure of palette-->
    </td>
    <td>
      <div class="palette has-bg-gray-darkest">
          <span class="dropdown">
            <span class="dropdown-toggle" (click)="toggleOpen($event)" aria-haspopup="true" aria-expanded="false">
              #4A4A4A
            </span>
            <div class="dropdown-menu">
              <dl>
                 <dt>Name</dt><dd>Gray Darkest</dd>
                 <dt>Sass Name</dt><dd>$gray-darkest</dd>
                 <dt>Value</dt>
                 <dd>
                    <span #grayDark>#4A4A4A</span>
                    <span class="fa fa-clipboard" aria-hidden="true" [cutClipboard]="grayDarker"></span>
                 </dd>
                 <dt>Uses</dt><dd>TBD</dd>
               </dl>
            </div>
          </span>
      </div><!--Closure of palette-->
    </td>
  </tr>
  </tbody>
</table>


<h2>Constants</h2>
<table class="table">
  <thead>
  <tr>
    <th class="has-content-left">Name</th>
    <th>RED</th>
    <th>PURPLE</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">*******</th>
    <td>
      <div class="palette has-bg-red">
          <span class="dropdown">
            <span class="dropdown-toggle" (click)="toggleOpen($event)" aria-haspopup="true" aria-expanded="false">
              #DD4D39
            </span>
            <div class="dropdown-menu">
              <dl>
                 <dt>Name</dt><dd>Red</dd>
                 <dt>Sass Name</dt><dd>$RED</dd>
                 <dt>Value</dt>
                 <dd>
                    <span #red>#DD4D39</span>
                    <span class="fa fa-clipboard" aria-hidden="true" [cutClipboard]="red"></span>
                 </dd>
                 <dt>Uses</dt><dd>TBD</dd>
               </dl>
            </div>
          </span>
      </div>
    </td>
    <td>
      <div class="palette has-bg-purple">
          <span class="dropdown">
            <span class="dropdown-toggle" (click)="toggleOpen($event)" aria-haspopup="true" aria-expanded="false">
              #662D91
            </span>
            <div class="dropdown-menu">
              <dl>
                 <dt>Name</dt><dd>Purple</dd>
                 <dt>Sass Name</dt><dd>$PURPLE</dd>
                 <dt>Value</dt>
                 <dd>
                    <span #purple>#662D91</span>
                    <span class="fa fa-clipboard" aria-hidden="true" [cutClipboard]="purple"></span>
                 </dd>
                 <dt>Uses</dt><dd>TBD</dd>
               </dl>
            </div>
          </span>
      </div>
    </td>
    <td>
      <div class="palette"></div>
    </td>
    <td>
      <div class="palette"></div>
    </td>
    <td>
      <div class="palette"></div>
    </td>
    <td>
      <div class="palette"></div>
    </td>
    <td>
      <div class="palette"></div>
    </td>
  </tr>
  </tbody>
</table>

