<mat-sidenav-container fullscreen>
  <mat-sidenav mode="side" opened>
    <nav>
      <mat-accordion class="list-style-left-nav">
        <!-- <ul class="list-style-left-nav"> -->
        <!-- <li routerLinkActive="active"> -->
        <div class="left-nav-link" routerLinkActive="active"><a [routerLink]="['/welcome']">Getting Started</a></div>
        <div class="left-nav-link" routerLinkActive="active"><a [routerLink]="['/platforms']">Platforms</a></div>
        <div class="left-nav-link" routerLinkActive="active" class="left-nav-link">
          <a [routerLink]="['/color']">Color</a>
        </div>
        <!-- </li> -->
        <!-- </ul> -->
        <mat-expansion-panel class="mat-elevation-z0 left-nav-item">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Components
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="left-nav-link" routerLinkActive="active" *ngFor="let item of components"><a [routerLink]="[item.routerLink]">{{item.text}}</a></div>
        </mat-expansion-panel>
        <mat-expansion-panel class="mat-elevation-z0 left-nav-item">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Guidelines
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="left-nav-link" routerLinkActive="active" *ngFor="let item of guidelines"><a [routerLink]="[item.routerLink]">{{item.text}}</a></div>
        </mat-expansion-panel>
        <div class="left-nav-link" routerLinkActive="active"><a [routerLink]="['/icons']">Icons</a></div>
        <div class="left-nav-link" routerLinkActive="active"><a [routerLink]="['/downloads']">Downloads</a></div>
        <div class="left-nav-link" routerLinkActive="active"><a [routerLink]="['/feedback']">Feedback</a></div>
      </mat-accordion>
    </nav>
  </mat-sidenav>
  <div class="center-content">
    <router-outlet></router-outlet>
    <ng-content tabindex="-1" id="mainContent" class="container-dynamic-body"></ng-content>
  </div>
</mat-sidenav-container>
