<div class="container-fluid top-margin">
  <div class="row">
    <section class="col-md-3 col-xl-2">
      <cb-card>
        <nav>
          <ul class="list-style-left-nav">
            <li routerLinkActive="active"><a [routerLink]="['/welcome']">Getting Started</a></li>
            <li routerLinkActive="active"><a [routerLink]="['/platforms']">Platforms</a></li>
            <li routerLinkActive="active"><a [routerLink]="['/color']">Color</a></li>
            <li>
              <cb-accordion [closeOthers]="false" [startOpen]="true">
                <cb-accordion-item [panelClass]="'hasClick'" [heading]="'Components'">
                  <ul class="list-style-left-sub-nav">
                    <li routerLinkActive="active" *ngFor="let item of components"><a
                      [routerLink]="[item.routerLink]">{{item.text}}</a></li>
                  </ul>
                </cb-accordion-item>
              </cb-accordion>
            </li>
            <li>
              <cb-accordion [closeOthers]="false" [startOpen]="false">
                <cb-accordion-item [heading]="'Guidelines'">
                  <ul class="list-style-left-sub-nav">
                    <li routerLinkActive="active" *ngFor="let item of guidelines"><a
                      [routerLink]="[item.routerLink]">{{item.text}}</a></li>
                  </ul>
                </cb-accordion-item>
              </cb-accordion>
            </li>
            <li routerLinkActive="active"><a [routerLink]="['/icons']">Icons</a></li>
            <li routerLinkActive="active"><a [routerLink]="['/downloads']">Downloads</a></li>
            <li routerLinkActive="active"><a [routerLink]="['/feedback']">Feedback</a></li>
          </ul>
        </nav>
      </cb-card>
    </section>
    <section class="col-md-9 col-xl-10">
      <router-outlet></router-outlet>
    </section>
  </div>
</div>
