@import "../../../../dist/cut/cut.scss";

.top-margin {
  margin-top: $padding-base;
}
.center-content {
	padding: $padding-alt + 4;
}
.left-nav-link {
  padding: 0 $padding-alt + 4;
  height: 45px;
  display: flex;
  justify-content: center;
  flex-direction: column;
	border-bottom: solid 1px $gray-lightest;
  &:hover,
  &.active {
    background: $gray-lightest;
  }

  a {
    color: $color-link;
    text-decoration: none;
  }
}
.left-nav-item {
	border-bottom: solid 1px $gray-lightest;
}

