@import "./variables/cut-theme-variables";
@import "./variables/cut-core-variables";
@import './utilities/material-overrides';
@import "./utilities/cut-utilities";

// :host /deep/ app-dynamic-body {
//   flex: 1;
//   margin-bottom: $padding-base * 4;
// }
h1,
.h1 {
  margin-bottom: $gutter;
}

h6,
.h6 {
  margin-bottom: $gutter/3;
}

p {
  margin-bottom: $gutter/3;
}

.container-fluid {
  max-width: 1800px;
}

a,
a *,
.btn {
  @extend %has-hover-animation;
}

hr {
  border-color: $color-border;
}

.cut-dropdown-active {
  font-weight: bold;
  color: $dark-primary-text;
  box-shadow: inset 0 rem-calc(-5) $cut-accent;
}

.success {
  background-color: $color-secondary-dark;
}

.warn {
  background-color: $accent-zeta-warn;
}
