<h1>Loading Indicator</h1>

<div class="tab-content">
  <!-- <cb-button [title]="'Toggle Loading Indicator'" [button-style]="'default'"
             (click)="isLoading = !isLoading"></cb-button> -->
  <br><br>
  <!-- <cb-card> -->
    <mat-tab-group>
      <mat-tab label="HTML">
        <app-codeblock language="html" [codeString]="codeLoadingIndicator1"></app-codeblock>
      </mat-tab>
      <mat-tab label="Typescript">
        <app-codeblock language="typescript" [codeString]="codeLoadingIndicator2"></app-codeblock>
      </mat-tab>
    </mat-tab-group>
  <!-- </cb-card> -->
  <cb-loading-indicator [loading]="isLoading"></cb-loading-indicator>
</div>
