// All cb brand specific variables to be defined here.

/*TODO:  Highly recommend following a global and abstract naming convention for variables*/
/*
**     Define the variable naming convention rule
**
*/

//-COLORS----------------------

//-Brand Colors----------------
$color-primary-light: #90A4AE;
$color-primary: #182642;
$color-primary-dark: #1c202a;

$color-secondary-light: #66C3AC;
$color-secondary: #009B74;
$color-secondary-dark: #007457;

$color-tertiary-light: #7EAFD5;
$color-tertiary: #287AB9;
$color-tertiary-dark: #1E5C8B;

//-Accent Colors---------------
$accent-alpha-lighter: #D1C4E9;
$accent-alpha-light: #B39DDB;
$accent-alpha: #B388FF;
$accent-alpha-dark: #673AB7;
$accent-alpha-darker: #311B92;

$accent-beta-lighter: #B3E5FC;
$accent-beta-light: #4DB8E6;
$accent-beta: #09A0DB;
$accent-beta-dark: #1280A1;
$accent-beta-darker: #004765;

$accent-gamma-lighter: #B2EBF2;
$accent-gamma-light: #84D6DC;
$accent-gamma: #50C5CD;
$accent-gamma-dark: #0195A3;
$accent-gamma-darker: #006064;

$accent-delta-lighter: #C5E1A5;
$accent-delta-light: #A9DC78;
$accent-delta: #85CE3F;
$accent-delta-dark: #66A52A;
$accent-delta-darker: #1F812D;

$accent-epsilon-lighter: #FFF59D;
$accent-epsilon-light: #FFD732;
$accent-epsilon: #FDB816;
$accent-epsilon-dark: #CB7C00;
$accent-epsilon-darker: #A06200;

$accent-zeta-lighter: #FFCC80;
$accent-zeta-light: #FF9C4C;
$accent-zeta: #FF7200;
$accent-zeta-dark: #D04900;
$accent-zeta-darker: #A04002;

$accent-eta-lighter: #FFCDD2;
$accent-eta-light: #EF9A9A;
$accent-eta: #F16865;
$accent-eta-dark: #D32F2F;
$accent-eta-darker: #A41C18;

//-Gray----------------
$gray-lightest: #F1F1F1;
$gray-lighter: #E4E4E4;
$gray-light: #D8D8D8;
$gray: #D2D2D2;
$gray-dark: #AAAAAA;
$gray-darker: #767676;
$gray-darkest: #4A4A4A;

//-Constants---------------
$WHITE: #ffffff;
$BLACK: #000000;
$RED: $accent-eta-dark;
$PURPLE: $accent-alpha-dark;

//-Semantic--------------
$color-info: $accent-beta;
$color-success: $accent-delta;
$color-warning: $accent-epsilon;
$color-error: $accent-eta;
$error: $accent-eta;

$color-body: $gray-darkest;
$color-background: $gray-lighter;
$color-border: $gray-light;
$color-heading: $color-primary;

$color-link: $color-tertiary;
$color-link-hover: $accent-beta;
$color-link-active: $color-tertiary-dark;
$color-link-visited: $accent-alpha-dark;


//-FONTS---------------------------------------------
$font-family-base: Lato, Helvetica, Arial, sans-serif;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;


$font-size-base: .8125rem;
$font-size-giant: 2.25rem;
$font-size-huge: 2rem;
$font-size-big: 1.75rem;
$font-size-h1: 1.5rem;
$font-size-h2: 1.25rem;
$font-size-h3: 1.125rem;
$font-size-h4: 1rem;
$font-size-h5: .8125rem;
$font-size-h6: .8125rem;
$font-size-small: .75rem;
$font-size-smaller: .6875rem;

//-SCAFFOLDING----------
$gutter: 30px;
$margin-base: 15px;
$padding-base: 15px;
$padding-alt: 20px;
$border-radius-base: 3px;
$border-radius: 8px;

//CARD-----------------
$cardHeightUnit: 135px;
$card-height-sm: 180px;
$card-height-md: 140px;
$card-height-lg: 120px;
$card-height-xl: 100px;
$card-margin-bottom: $gutter;

//SHADOW---
$box-shadow-base: 0 1px 2px 0 rgba(0, 0, 0, 0.25);

//CANDIDATE-DETAILS-PAGE------------------
$item-hover: #E9E9E9;
$card-backdrop: #F8FBFD;
$pill-color: #CEE0EE;
$action-bar-button-text-color: #2265A9;
$export-to-ats-input-color: #2A7AB8;
$export-to-ats-error-color: #EB5053;

//ACTIVITY HISTORY--------------------------
$views-container-background-color: #F0FFF9;
$icon-favorite-color: #16A980;
$icon-today-color: #2A76E8;

//DASHBOARD LIST---------------------------
$link-color: $export-to-ats-input-color;
$list-background-color: #F6FCFC;
$list-label-color: #979797;
