@import "./cut-theme-variables";

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '../../../../../node_modules/@angular/material/theming';


@import '../palettes/cut-default';

$background-color: #ffffff;


// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$primary: mat-palette($cut-primary, A400, A100, A700);
$accent: mat-palette($cut-secondary, A400, A100, A700);

// The warn palette is optional (defaults to red).
$warn: mat-palette($cut-warn, A400, A100, A700);

// Create the theme object (a Sass map containing all of the palettes).
$theme: mat-light-theme($primary, $accent, $warn);

$background: map-get($theme, background);
$background: map_merge($background, (background: $background-color));
$theme: map_merge($theme, (background: $background));

// ADDITIONAL GLOBAL VARIABLES CAN GO BELOW
$dark-primary-text: #182642;
$light-secondary-text: #E9E9E9;
$dark-secondary-text: #5D677A;
$cut-primary: mat-color($primary);
$cut-accent: mat-color($accent);
$cut-warn: mat-color($warn);

// Buttons
$h1-font-size: $font-size-h1;
$h2-font-size: $font-size-h2;
$h3-font-size: $font-size-h3;
$h4-font-size: $font-size-h4;
$h5-font-size: $font-size-h5;
$h6-font-size: $font-size-h6;

// Forms
$input-disabled-bg: $gray-lighter;

$input-focus-border-color: $color-tertiary;