@import "./dist/cut/cut.scss";

.callout-banner {
  border-radius: $border-radius-base;
  box-shadow: $box-shadow-base;
  padding: 150px 50px 50px 50px;
  background: $accent-beta-dark url('/assets/images/banner-1.png') right bottom no-repeat;
  background-size: contain;
  color: $WHITE;
  margin-bottom: $margin-base * 2;
  font-weight: $font-weight-light;
}
.callout{
  img{
    width: 100%;
    margin-bottom: $margin-base;
  }

}

.callout-beta{
  text-align: center;
  img{
    width: 100%;
    margin-bottom: $margin-base;
  }

}

.callout-theta{
  text-align: center;
  h2{
    font-size: 2em;
    margin-bottom: 0px;
    font-weight: 300;
    font-style: italic;
  }
}


.vertical-center{
  align-items: center;
  display: flex;
}
