<section class="row">
  <div class="col-md-12">
    <div class="callout-banner">
      <h1>oneCB Design System</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt id est laborum.</p>
      <cb-button [title]="'Get Started'" [button-style]="'primary'"></cb-button>
    </div>
  </div>
</section>

<section class="row">
  <div class="col-md-4">
    <cb-card [height]="{md:'2x', lg:'3x'}">
      <div class="callout-beta">
        <img [attr.src]="'https://placeholdit.imgix.net/~text?txtsize=33&txt=PlaceHolder&w=250&h=150'"
             alt="Thumb Nail Image"/>
        <h3>Visual Design Callout</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua.</p>
      </div>
    </cb-card>
  </div>
  <div class="col-md-4">
    <cb-card [height]="{md:'2x', lg:'3x'}">
      <div class="callout-beta">
        <img [attr.src]="'https://placeholdit.imgix.net/~text?txtsize=33&txt=PlaceHolder&w=250&h=150'"
             alt="Thumb Nail Image"/>
        <h3>Platform Specific Callout</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua.</p>
      </div>
    </cb-card>
  </div>
  <div class="col-md-4">
    <cb-card [height]="{md:'2x', lg:'3x'}">
      <div class="callout-beta">
        <img [attr.src]="'https://placeholdit.imgix.net/~text?txtsize=33&txt=PlaceHolder&w=250&h=150'"
             alt="Thumb Nail Image"/>
        <h3>Platform Specific Callout</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua.</p>
      </div>
    </cb-card>
  </div>
</section>

<section class="row">
  <div class="col-md-12">
    <cb-card>
      <div class="callout-theta">
        <h2>Empowering Creative Engineering & Thoughtful Design</h2>
      </div>
    </cb-card>
  </div>
</section>

<section class="row">
  <div class="col-md-12">
    <cb-card>
      <div class="callout">
        <div class="row">
          <div class="col-md-4">
            <img [attr.src]="'https://placeholdit.imgix.net/~text?txtsize=33&txt=PlaceHolder&w=250&h=150'"
                 alt="Thumb Nail Image"/>
          </div>
          <div class="col-md-8 vertical-center">
            <div>
              <h3>CB Speed Gamechanger / Ease of Use</h3>
              <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                laborum.</p>
            </div>
          </div>
        </div>
      </div>
    </cb-card>
  </div>
</section>


<section class="row">
  <div class="col-md-4">
    <cb-card [height]="{md:'2x', lg:'2x'}">
      <h3>Getting Started</h3>
      <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia laborum.</p>
      <cb-button [title]="'Tertiary'" [button-style]="'tertiary'"></cb-button>
    </cb-card>
  </div>
  <div class="col-md-4">
    <cb-card [height]="{md:'2x', lg:'2x'}">
      <h3>Downloads</h3>
      <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia laborum.</p>
      <cb-button [title]="'Tertiary'" [button-style]="'tertiary'"></cb-button>
    </cb-card>
  </div>
  <div class="col-md-4">
    <cb-card [height]="{md:'2x', lg:'2x'}">
      <h3>User Feedback</h3>
      <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia laborum.</p>
      <cb-button [title]="'Tertiary'" [button-style]="'tertiary'"></cb-button>
    </cb-card>
  </div>
</section>
