<div class="example-container">
  <cut-kpi-tile title="Test Title" mainCount="30" infoText="Test info text" [popupInfo]="popupInfo">
  </cut-kpi-tile>
  <br /><br /><br />
  <cut-kpi-tile title="Test Title" mainCount="30" progressBarValue="15" showIndicator="true" infoText="Test info text">
  </cut-kpi-tile>
  <br /><br /><br />
  <cut-kpi-tile title="Test Title" mainCount="30" progressBarValue="15" showIndicator="true" infoText="Test info text"
    inContainer="true">
  </cut-kpi-tile>
  <br /><br /><br />
  <cut-kpi-tile title="Test Title" mainCount="" infoText="Test info text" inContainer="true" showProgressBar="false" 
                message="This is no data available msg." messageType='info'>  
  </cut-kpi-tile>
  <br /><br /><br />
  <cut-kpi-tile title="Test Title" mainCount="" infoText="Test info text" inContainer="true" showProgressBar='false' 
               message="This is error msg." messageType='error'>  
  </cut-kpi-tile>
  <br /><br /><br />
  <cut-kpi-tile title="Test Title" mainCount="" infoText="Test info text" inContainer="true" showProgressBar="false" 
                message="This is warn msg." messageType='warn'>  
  </cut-kpi-tile>
</div>
