<div class="example-container">
  <cut-kpi-tile [data]="sample6">
  </cut-kpi-tile>
  <br /><br /><br />
  <cut-kpi-tile [data]="sample5" progressBarValue="15">
  </cut-kpi-tile>
  <br /><br /><br />
  <cut-kpi-tile [data]="sample4" progressBarValue="15">
  </cut-kpi-tile>
  <br /><br /><br />
  <cut-kpi-tile [data]="sample3">
  </cut-kpi-tile>
  <br /><br /><br />
  <cut-kpi-tile [data]="sample2">  
  </cut-kpi-tile>
  <br /><br /><br />
  <cut-kpi-tile [data]="sample1">  
  </cut-kpi-tile>
</div>
