@import '../variables/cut-theme-variables';
@import '../mixins/cut-rem-calc';

.mat-elevation-z15 {
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.16),
    0px 5px 20px 2px rgba(0, 0, 0, 0.0),
    0px 5px 20px 5px rgba(0, 0, 0, 0.0) !important;
}

.mat-elevation-z6 {
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16),
    0px 6px 10px 0px rgba(0, 0, 0, 0.0),
    0px 1px 18px 0px rgba(0, 0, 0, 0.0) !important;
}

.mat-card {
  border-radius: 5px;
  padding: 20px;
  border: solid 1px #e9e9e9;
}

.mat-toolbar {
  background-color: #fff;

  .mat-toolbar-row {
    span {
      font-size: 14px;
    }
  }
}

.mat-tab-label {
  opacity: 1 !important;
}

.mat-tab-group {
  .mat-ink-bar {
    height: rem-calc(5) !important;
  }
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  height: auto;
}

.mat-progress-bar {
  border-radius: rem-calc(6) !important;
  height: rem-calc(6) !important;

  .mat-progress-bar-buffer {
    background: $light-secondary-text !important;
  }

  .mat-progress-bar-element {
    border-radius: rem-calc(6) !important;
  }

  .mat-progress-bar-fill {
    border-radius: rem-calc(6) !important;

    &::after {
      border-radius: rem-calc(6) !important;
    }
  }
}

@mixin mat-button-base ($btn-type) {
  background-color: transparent !important;
	color: #ffffff !important;
	
  @if $btn-type==primary {
    background: linear-gradient(90deg, #009B74 0%, #85CE3F 100%);
  }

  @else if $btn-type==accent {
    background: linear-gradient(90deg, #287AB9 0%, #0097D1 100%);
  }

  @else if $btn-type==warn {
    background: linear-gradient(90deg, #D04945 0%, #F16865 100%);
  }
}

/* BUTTON OVERRIDES */
.mat-raised-button {
  &.mat-primary {
    @include mat-button-base(primary);
  }

  &.mat-accent {
    @include mat-button-base(accent)
  }

  &.mat-warn {
    @include mat-button-base(warn)
  }
}
.mat-flat-button {
  &.mat-primary {
    @include mat-button-base(primary);
  }

  &.mat-accent {
    @include mat-button-base(accent)
  }

  &.mat-warn {
    @include mat-button-base(warn)
  }
}