@import '../variables/cut-theme-variables';
@import '../mixins/cut-rem-calc';
@import '../mixins/cut-gradients';

.mat-elevation-z15 {
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.16),
    0px 5px 20px 2px rgba(0, 0, 0, 0.0),
    0px 5px 20px 5px rgba(0, 0, 0, 0.0) !important;
}

.mat-elevation-z6 {
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16),
    0px 6px 10px 0px rgba(0, 0, 0, 0.0),
    0px 1px 18px 0px rgba(0, 0, 0, 0.0) !important;
}

.mat-card {
  border-radius: 5px;
  padding: 20px;
  border: solid 1px #e9e9e9;
}

.mat-toolbar {
  background-color: #fff;

  .mat-toolbar-row {
    span {
      font-size: 14px;
    }
  }
}

.mat-tab-label {
  opacity: 1 !important;
}

.mat-tab-group {
  .mat-ink-bar {
    height: rem-calc(5) !important;
  }
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  height: auto;
}

.mat-progress-bar {
  border-radius: rem-calc(6) !important;
  height: rem-calc(6) !important;

  .mat-progress-bar-buffer {
    background: $light-secondary-text !important;
  }

  .mat-progress-bar-element {
    border-radius: rem-calc(6) !important;
  }

  .mat-progress-bar-fill {
    border-radius: rem-calc(6) !important;

    &::after {
      border-radius: rem-calc(6) !important;
    }
	}
}
// Not sure if we need to override progress bar everywhere or not,
// so wrapping in a utitlity class for now
.cut-primary-gradient {
	.mat-progress-bar-fill {
		&::after {
			@include cut-gradient(primary);
		}
	}
}
.cut-accent-gradient {
	.mat-progress-bar-fill {
		&::after {
			@include cut-gradient(accent);
		}
	}
}
.cut-warn-gradient {
	.mat-progress-bar-fill {
		&::after {
			@include cut-gradient(warn);
		}
	}
}

/* BUTTON OVERRIDES */
.mat-raised-button {
  &.mat-primary {
    @include cut-gradient(primary);
  }

  &.mat-accent {
    @include cut-gradient(accent)
  }

  &.mat-warn {
    @include cut-gradient(warn)
  }
}
.mat-flat-button {
  &.mat-primary {
    @include cut-gradient(primary);
  }

  &.mat-accent {
    @include cut-gradient(accent)
  }

  &.mat-warn {
    @include cut-gradient(warn)
  }
}