@mixin nav-bar-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  app-navbar {
    color: mat-color($primary, dark-contrast);
		background-color: mat-color($background, background);
    .docs-navbar, .docs-navbar-header {
      background: mat-color($primary, light);
    }
  }
}
