<h1>Accordion</h1>
<mat-tab-group>
  <mat-tab label='Demo'>
    <div class="tab-content">
        <div class="row">
          <div class="col-md-4">
            <!-- <cb-card> -->
              <h2>Single Open</h2>
              <cb-accordion [closeOthers]="true" [startOpen]="true">
                <cb-accordion-item [heading]="'Title as attribute'">
                  Accordion group 1 contents.
                </cb-accordion-item>
                <cb-accordion-item [panelClass]="'hasClick'">
                  <accordion-heading (click)="changeView()">
                    Title as element
                  </accordion-heading>
                  Accordion group 2 contents.
                </cb-accordion-item>
              </cb-accordion>
            <!-- </cb-card> -->
          </div>
          <div class="col-md-4">
            <!-- <cb-card> -->
              <h2>Multi Open</h2>
              <cb-accordion [closeOthers]="false" [startOpen]="true">
                <cb-accordion-item [heading]="'Title as attribute'">
                  Accordion group 1 contents.
                </cb-accordion-item>
                <cb-accordion-item [panelClass]="'hasClick'">
                  <accordion-heading (click)="changeView()">
                    Title as element
                  </accordion-heading>
                  Accordion group 2 contents.
                </cb-accordion-item>
              </cb-accordion>
            <!-- </cb-card> -->
          </div>
        </div>

      <hr/>
        <div class="row">
          <div class="col-md-4">
            <!-- <cb-card> -->
              <h2>Start All Open</h2>
              <cb-accordion [closeOthers]="false" [startOpen]="true">
                <cb-accordion-item [heading]="'Title as attribute'" [isOpen]="true">
                  Accordion group 1 contents.
                </cb-accordion-item>
                <cb-accordion-item [panelClass]="'hasClick'" [isOpen]="true">
                  <accordion-heading (click)="changeView()">
                    Title as element
                  </accordion-heading>
                  Accordion group 2 contents.
                </cb-accordion-item>
              </cb-accordion>
            <!-- </cb-card> -->
          </div>
          <div class="col-md-4">
            <!-- <cb-card> -->
              <h2>Start All Closed</h2>
              <cb-accordion [closeOthers]="false" [startOpen]="false">
                <cb-accordion-item [heading]="'Title as attribute'">
                  Accordion group 1 contents.
                </cb-accordion-item>
                <cb-accordion-item [panelClass]="'hasClick'">
                  <accordion-heading (click)="changeView()">
                    Title as element
                  </accordion-heading>
                  Accordion group 2 contents.
                </cb-accordion-item>
              </cb-accordion>
            <!-- </cb-card> -->
          </div>
        </div>
    </div>
  </mat-tab>
  <mat-tab label='Documentation'>
    <div class="tab-content">
      <!-- <cb-card> -->
        <h3>Single Open</h3>
        <app-codeblock [codeString]="accordionCode1" language="html"></app-codeblock><br>
        <h3>Multi Open</h3>
        <app-codeblock [codeString]="accordionCode2" language="html"></app-codeblock><br>
        <h3>Start All Open</h3>
        <app-codeblock [codeString]="accordionCode3" language="html"></app-codeblock><br>
        <h3>Start All Closed</h3>
        <app-codeblock [codeString]="accordionCode4" language="html"></app-codeblock>
      <!-- </cb-card> -->
    </div>
  </mat-tab>
</mat-tab-group>
