<h1>Select</h1>
  <!-- <cb-card> -->
    <div class="tab-content">
      <cut-select [label]="'Select a greeting'" [options]="options" [(ngModelValue)]="greeting"></cut-select>
      <p>Selected value: {{greeting}}</p>
    </div>
    <mat-tab-group>
      <mat-tab heading="HTML">
        <app-codeblock [codeString]="codeSelect1" language="html"></app-codeblock>
      </mat-tab>
      <mat-tab heading="Typescript">
        <app-codeblock [codeString]="codeSelect2" language="typescript"></app-codeblock>
      </mat-tab>
    </mat-tab-group>
  <!-- </cb-card> -->
