<h1>Cards</h1>


<mat-tab-group>
  <mat-tab label='Demo'>
    <div class="tab-content">
      <div class="row">
        <div class="col-md-12">
          <p>
            <cb-button [button-style]="'primary'" (click)="loading = !loading" [title]="'Toggle Loading'"></cb-button>
            <cb-button [button-style]="'primary'" (click)="error = !error" [title]="'Toggle Error'"></cb-button>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-6">
              <cb-card [height]="{md:'2x', lg:'2x'}"
                       [title]="'Card Title1'"
                       [loading]="loading"
                       useTooltipIcon="true"
                       [useTooltipIconOptions]="tooltipIconOptions"
                       titleTooltip="Tunable tooltip"
                       [saveImage]="false"
                       [menuItems]="menuOptions1"
                       [errorStateMessage]="'Sorry, data not available.'"
                       [footerMessage]="'Card specific, custom footer message'"
                       (menuAction)="performMenuAction($event)"
                       [isHeader]="true" >
                Card Content
                <ng-content></ng-content>
              </cb-card>
            </div>
            <div class="col-md-6">
              <cb-card [height]="{md:'2x', lg:'2x'}" [title]="'Card Title2'" [loading]="loading"
                       [saveImage]="saveImageOn"
                       (menuAction)="performMenuAction($event)"
                       [errorState]="error"
                       [menuItems]="menuOptions2"
                       [isClickable]="true"
                       (clickedAction)="cardClicked($event)"
                       [errorStateMessage]="'Sorry, data not available.'" [errorImage]="'images/WhiteLineGraph.png'">
              </cb-card>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <cb-card [height]="{md:'1x', lg:'1x'}">
                Card with no title
              </cb-card>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <cb-card
                      [isClickable]="true"
                      [height]="{md:'1x', lg:'1x'}"
                      [title]="'Card Title3'"
                      (clickedAction)="cardClicked($event)"
              >
                Supply. Clickable
              </cb-card>
            </div>
            <div class="col-md-6">
              <cb-card [height]="{md:'1x', lg:'1x'}" [title]="'Card Title4'">
                Demand
              </cb-card>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <cb-card [title]="'Card Title'">
                Card with auto height.
              </cb-card>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-12">
              <cb-card [height]="{md:'4x', lg:'3x'}" [title]="'Card Title5'" [loading]="loading"
                       [errorState]="error"
                       [errorStateMessage]="'Sorry, no data available.'" [errorImage]="'images/WhiteLineGraph.png'"
                       [footerMessage]="'Custom footer message'"
                       (menuAction)="performMenuAction($event)"
                       [menuItems]="menuOptions1">
                Compensation
              </cb-card>
            </div>
            <div class="col-md-12">
              <cb-card [height]="{md:'2x', lg:'2x'}" [title]="'Card Title with tooltip'"
                       [titleTooltip]="'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.'"
                       [loading]="loading">
                Hiring Locations
              </cb-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label='Documentation'>
    <div class="tab-content">
      <app-codeblock [codeString]="codeCard1" language="html"></app-codeblock>
      <app-codeblock [codeString]="codeCard2" language="typescript"></app-codeblock>
    </div>
  </mat-tab>
</mat-tab-group>
