<!--<h1>Header</h1>-->
<!--<cb-card>-->
  <!--<tabset>-->
    <!--<tab heading='Demo'>-->
      <!--<div class="tab-content">-->
        <!--<div *ngIf="isCbToggled==true">-->
          <!--<cb-header>-->
            <!--<nav-brand>-->
              <!--<a class="navbar-brand" href="'http://www.careerbuilder.com'">-->
                <!--<img [attr.src]="'images/CB-logo.png'">-->
              <!--</a>-->
            <!--</nav-brand>-->
            <!--<nav-items>-->
            <!--<span class="item">-->
              <!--navigation item-->
            <!--</span>-->
            <!--</nav-items>-->
          <!--</cb-header>-->
        <!--</div>-->

        <!--<div *ngIf="isSdBetaToggled==true">-->
          <!--<cb-header>-->
            <!--<nav-brand>-->
              <!--<a class="navbar-brand" href="'https://supplydemand.careerbuilder.com'">-->
                <!--<img [attr.src]="'images/Supply_Demand_Beta-Logo.png'">-->
              <!--</a>-->
            <!--</nav-brand>-->
            <!--<nav-items>-->
            <!--<span class="item">-->
              <!--navigation item-->
            <!--</span>-->
            <!--</nav-items>-->
          <!--</cb-header>-->
        <!--</div>-->

        <!--<div *ngIf="isSdToggled==true">-->
          <!--<cb-header>-->
            <!--<nav-brand>-->
              <!--<a class="navbar-brand" href="'https://supplydemand.careerbuilder.com'">-->
                <!--<img [attr.src]="'images/Supply_Demand-Logo.png'">-->
              <!--</a>-->
            <!--</nav-brand>-->
            <!--<nav-items>-->
            <!--<span class="item">-->
              <!--navigation item-->
            <!--</span>-->
            <!--</nav-items>-->
          <!--</cb-header>-->
        <!--</div>-->
        <!--<div class="first-toggle">-->
          <!--<cb-button [title]="'Toggle Header With CB Logo'" [button-style]="'default'"-->
                     <!--(click)="updateHeader('cb')"></cb-button>-->
        <!--</div>-->

        <!--<div class="other-toggles">-->
          <!--<cb-button [title]="'Toggle Header With Supply & Demand Beta Logo'" [button-style]="'default'"-->
                     <!--(click)="updateHeader('supply_demand_beta')"></cb-button>-->
        <!--</div>-->

        <!--<div class="other-toggles">-->
          <!--<cb-button [title]="'Toggle Header With Supply & Demand Logo'" [button-style]="'default'"-->
                     <!--(click)="updateHeader('supply_demand')"></cb-button>-->
        <!--</div>-->
      <!--</div>-->
    <!--</tab>-->
    <!--<tab heading='Documentation'>-->
      <!--<div class="tab-content">-->
        <!--<app-codeblock [codeString]="codeHeader1" language="html"></app-codeblock>-->
        <!--<app-codeblock [codeString]="codeHeader2" language="html"></app-codeblock>-->
        <!--<app-codeblock [codeString]="codeHeader3" language="html"></app-codeblock>-->
      <!--</div>-->
    <!--</tab>-->
  <!--</tabset>-->
<!--</cb-card>-->
