.navbar-brand {
  img {
    margin-left: 1em;
    height: 30px;
  }
}

span.item {
  margin-top: 0.4em;
  float: right;
  margin-right: 120px;
  width: 20%;
}

.first-toggle {
  margin-top: 140px;
}

.other-toggles {
  margin-top: 20px;
}
