bs-datepicker-container {
  z-index: 1050;
}

bs-datepicker-navigation-view {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.bs-datepicker.bs-timepicker, .bs-datepicker.bs-padding {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.65);
  padding: 0 $padding-base;
  border-radius: 3px;
}

.bs-datepicker-head {
  padding: 12px 0 0 0;
  height: 37px;
  min-width: 0;
  display: flex;
  &:after {
    display: none;
  }
}

.bs-datepicker-head button.current {
  font-weight: bold;
  &:hover {
    background: none;
  }
}

.bs-datepicker-head button.previous {
  margin-right: auto;
  color: $color-tertiary
}

.bs-datepicker.bs-timepicker .bs-datepicker-body {
  border: none;
}

.bs-datepicker-head button.next {
  margin-left: auto;
  color: $color-tertiary
}

.bs-datepicker-head button {
  color: $color-primary;
}

.bs-datepicker-body { border: none; }

.bs-datepicker-body table th {
  color: #fff;
  font-size: 0;
  &:first-child {
    display: none;
  }
  &:first-letter {
    color: $color-primary;
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
  }
}

.bs-datepicker-head.label-success {
  background: #fff;
}

.bs-datepicker-body table td.week {
  display: none;
}

.bs-datepicker-body table td.week span {
  color: $color-tertiary;
}

.bs-datepicker-body table.days td.active:not(.select-start):before, .bs-datepicker-body table.days td.in-range:not(.select-start):before, .bs-datepicker-body table.days span.active:not(.select-start):before, .bs-datepicker-body table.days span.in-range:not(.select-start):before {
  background: rgba($accent-beta, .15);
}

.bs-datepicker-body table td:before, .bs-datepicker-body table td span:before {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.bs-datepicker-body .days.weeks {
  border-collapse: separate;
  border-spacing: 0 5px;
}

.bs-datepicker-body .days.weeks thead:after {
  content: '.';
  display: block;
  line-height: 10px;
  color: transparent;
}

.bs-datepicker-body table td span.selected,
.bs-datepicker-body table td span[class*="select-"]:after,
.bs-datepicker-body table td.selected span,
.bs-datepicker-body table td[class*="select-"] span:after {
  background-color: $color-tertiary-dark;
}

.bs-datepicker-body table.days td.in-range, .bs-datepicker-body table.days span.active:not(.select-start):before, .bs-datepicker-body table.days span.in-range:not(.select-start):before {
  background: rgba($accent-beta, .15);
}

.bs-datepicker-body table.days td span.is-highlighted:not(.disabled):not(.selected),
.bs-datepicker-body table:not(.days) td span.is-highlighted:not(.disabled):not(.selected),
.bs-datepicker-body table.days td.is-highlighted:not(.disabled):not(.selected) span,
.bs-datepicker-body table:not(.days) td.is-highlighted:not(.disabled):not(.selected) span {
  background: transparent;
  box-shadow: inset 0 0 0 1px $color-tertiary;
}

.bs-datepicker-body table.days span.select-end:before {
  width: 50%;
  background: rgba($accent-beta, .15);
}

.bs-datepicker-body table.days span.select-start {
  z-index: auto;
}

.bs-datepicker-body table.days span.select-start:before {
  width: 50%;
  right: 0;
  left: auto;
  background: rgba($accent-beta, .15);
}
